In [39]:
# Andrei Negura
# C16733435
from collections import Counter
import pandas as pd
feature_names = './data/feature_names.txt'
dataset = './data/dataset.csv'
with open(feature_names) as f:
    names = f.read().split('\n')
df = pd.read_csv(dataset, names=names)
df.head()

,id,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target
0,tr1,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,tr2,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,tr3,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,tr4,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,tr5,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [40]:
cat_feature_header = [
    'feature name', 'count', '% missing', 'cardinality', 'mode',
    'mode frequency', 'mode %', '2nd mode', '2nd mode frequency', 
    '2nd mode %'
]

def get_data_cat(column_name):
    all_records = df[column_name].count()
    row = [column_name, 
           all_records, # count
           df[column_name].isna().sum()/all_records, # missing %
           df[column_name].nunique(), # cardinality
           df[column_name].mode()[0], # mode
           df[column_name].value_counts()[0], # mode freq 
           df[column_name].value_counts()[0]/all_records, # mode %
           Counter(df[column_name]).most_common()[1][0],# 2nd mode 
           df[column_name].value_counts()[1],# 2nd mode freq
           df[column_name].value_counts()[1]/all_records # 2nd mode %
    ]
    return row

data_cat = [
    get_data_cat('workclass'),
    get_data_cat('education'),
    get_data_cat('marital-status'),
    get_data_cat('occupation'),
    get_data_cat('relationship'),
    get_data_cat('race'),
    get_data_cat('sex'),
    get_data_cat('native-country'),
]

In [41]:
# continuous features
# df['education-num'].value_counts()
# df['capital-gain'].value_counts()
# df['capital-loss'].value_counts()
df['hours-per-week'].value_counts().head()

40    14470
50     2680
45     1721
60     1392
35     1238
Name: hours-per-week, dtype: int64

In [42]:
# categorical featureas
df['workclass'].value_counts()
# df['education'].value_counts()
# df['marital-status'].value_counts()
# df['occupation'].value_counts()
# df['relationship'].value_counts()
# df['race'].value_counts()
# df['native-country'].value_counts()
# df['sex'].value_counts()

 Private             21576
 Self-emp-not-inc     2406
 Local-gov            1986
 ?                    1735
 State-gov            1238
 Self-emp-inc         1067
 Federal-gov           911
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [43]:
cont_feature_header = [
    'feature name', 'count', '% missing', 'cardinality',
    'min', 'quantile 25%',
    'mean', 'median', 'quantile 75%',
    'max', 'standard deviation'
]

def get_data_cont(column_name):
    all_records = df[column_name].count()
    row = [column_name,
           all_records, # count
           df[column_name].isna().sum()/all_records, # missing %
           df[column_name].nunique(), # cardinality
           df[column_name].min(), #minimum value
           df[column_name].quantile(q=0.25), # 1st qrt
           df[column_name].mean(), 
           df[column_name].median(), 
           df[column_name].quantile(q=0.75), 
           df[column_name].max(), 
           df[column_name].std()]
    return row

data_cont = [
    get_data_cont('age'),
    get_data_cont('fnlwgt'),
    get_data_cont('education-num'),
    get_data_cont('capital-gain'),
    get_data_cont('capital-loss'),
    get_data_cont('hours-per-week')
]

In [44]:
#make data frames
insights_cont = pd.DataFrame(data_cont, columns = cont_feature_header)
insights_cat = pd.DataFrame(data_cat, columns = cat_feature_header) 
#put them into csv files
insights_cont.to_csv('./data/C16733435CONT.csv',header=True)
insights_cat.to_csv('./data/C16733435CAT.csv',header=True)

In [63]:
df.loc[df['age'].isin(range(17,18))]
df['fnlwgt'].value_counts(bins=10)
df.loc[df['fnlwgt'].isin(range(12285,0000))]
df['hours-per-week'].value_counts(bins=10)

(30.4, 40.2]     16881
(40.2, 50.0]      5623
(20.6, 30.4]      2204
(10.8, 20.6]      2090
(59.8, 69.6]      1691
(50.0, 59.8]      1006
(0.901, 10.8]      700
(69.6, 79.4]       424
(79.4, 89.2]       186
(89.2, 99.0]       135
Name: hours-per-week, dtype: int64